@use './var';
@keyframes burger-show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.burger-back--active {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: var.$background-2;
	opacity: 0.8;
}

.menu-burger {
	font-family: var.$font;
	color: var.$text-color-1;
	font-weight: var.$medium;
	min-width: 320px;
	max-width: 360px;
	width: 100%;
	height: 100%;
	box-shadow: 15px 0 50px 0 rgb(134, 134, 134);
	overflow-y: auto;
	background-color: var.$background-2;
	position: fixed;
	z-index: 4;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 32px;
	display: none;
	position: fixed;

	@media (min-width: var.$desktop) {
		display: block;
		width: 320px;
		box-shadow: none;
	}

	& .close {
		padding-right: 15px;
		@media (min-width: var.$desktop) {
			display: none;
		}
	}

	& .upper-menu {
		display: flex;
		align-items: center;
		margin-bottom: 40px;
		padding-top: 24px;

		& .icon:hover,
		& .logo:hover {
			transform: scale(1.1);
			transition: 0.2s;
		}

		&__right {
			display: flex;
			align-items: center;
		}

		&__left {
			margin-left: auto;
		}
	}

	& .list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: 40px;
		line-height: 32px;
		font-size: var.$font-size-btn;

		&__item:hover {
			color: var.$text-color-2;
		}

		&__item:hover::before {
			content: '';
			position: absolute;
			left: 0;
			width: 4px;
			height: 32px;
			background-color: var.$highlight;
			border-radius: 0px 10px 10px 0px;
		}

		&__item--active {
			align-items: center;
			color: var.$text-color-2;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				width: 4px;
				height: 32px;
				background-color: var.$highlight;
				border-radius: 0px 10px 10px 0px;
			}
		}
	}

	& .contacts {
		display: flex;
		flex-direction: column;
		gap: 15px;
		align-items: flex-start;
		margin-bottom: 40px;

		&__email:hover,
		&__number:hover {
			transform: scale(1.1);
			transition: 0.2s;
		}

		&__buttons {
			display: flex;
			gap: 15px;

			& .icon:hover {
				transform: scale(1.1);
				transition: 0.2s;
			}
		}

		&__number {
			font-weight: 700;
			font-size: 24px;
		}
	}

	& .language {
		&__list {
			display: flex;
			gap: 10px;
			padding-bottom: 10px;
		}

		&__link:hover {
			color: var.$text-color-2;
		}

		&__link--active {
			color: var.$text-color-2;
		}
	}

	&--visible {
		display: block;
		animation-name: burger-show;
		animation-duration: 0.5s;
	}
}
